%h1 Editing Account
.row
  .col-md-5
    - if params[:payment_edit]
      = simple_form_for(@user, :html => { :class => 'form-vertical' }) do |f|
        = f.error_notification
        = hidden_field_tag :payment_edit, true
        = f.input :payment_type, selected: ["Credit Card"], collection: ["Credit card"]
        = f.input :carholders_name, input_html: { :value => current_user.name }
        = f.input :cc_number, :input_html => {:maxlength => 16}
        = f.input :cc_security_code, :input_html => {:maxlength => 3, :style => 'width: 70px'}
        = f.input :experation_date, as: :date, start_year: Date.today.year, end_year: Date.today.year + 5, discard_day: true, order: [:month, :year], :input_html => {:style => 'width: 120px; float: left;'}
        = f.button :submit, "Update payment method", class: "margin-top-20"
      = link_to 'Cancel', @user
    - else
      = simple_form_for(@user) do |f|
        = f.error_notification
        = f.input :name
        = f.input :address
        = f.input :city
        = f.input :state
        = f.input :zip
        = f.input :phone_number
        = f.button :submit
      = link_to 'Cancel', @user