%h1 Editing Account
.row
  .col-md-5
    = simple_form_for(@user) do |f|
      = f.error_notification
      = f.input :name
      = f.input :address
      = f.input :city
      = f.input :state
      = f.input :zip, :input_html => { :maxlength => 5, class: "zip-input" }
      = f.input :phone_number, label: "Phone Number", :input_html => { :maxlength => 10, class: "phone-input" }
    
      %br
      = f.button :submit, "Save", class: "btn btn-primary"
      = link_to 'Cancel', user_path, class: "btn btn-default"