- if !notice.blank?
  .alert.alert-success= notice
- if @user.name.blank?
  %h1 Account
-else
  %h1= @user.name
.row
  .col-md-4
    .user-field.bold Email
  .col-md-4
    .user-field= @user.email   
.row
  .col-md-4
    .user-field.bold City
  .col-md-4
    .user-field= @user.city
.row
  .col-md-4
    .user-field.bold Address
  .col-md-4
    .user-field= @user.address
.row
  .col-md-4
    .user-field.bold State
  .col-md-4
    .user-field= @user.state
.row
  .col-md-4
    .user-field.bold Zip
  .col-md-4
    .user-field= @user.zip
.row
  .col-md-4
    .user-field.bold Phone Number
  .col-md-4
    .user-field= @user.phone_number

= link_to 'Edit', edit_user_path(@user), class: "btn btn-default margin-top-20"