- if !notice.blank?
  .alert.alert-success= notice
%h1 Account
.well.well-sm
  Use this tab to update your personal information. Be sure to use your billing information associated with your utility service!
= render "home/account_completion_widget"
.row
  .col-md-4
    .user-field.bold Name
  .col-md-4
    .user-field= @user.name 
.row
  .col-md-4
    .user-field.bold Email
  .col-md-4
    .user-field= @user.email   
.row
  .col-md-4
    .user-field.bold City
  .col-md-4
    .user-field= @user.city
.row
  .col-md-4
    .user-field.bold Address
  .col-md-4
    .user-field= @user.address
.row
  .col-md-4
    .user-field.bold State
  .col-md-4
    .user-field= @user.state
.row
  .col-md-4
    .user-field.bold Zip
  .col-md-4
    .user-field= @user.zip
.row
  .col-md-4
    .user-field.bold Phone Number
  .col-md-4
    .user-field= @user.phone_number

= link_to 'Edit', edit_user_path(@user), class: "btn btn-default margin-top-20"