%h1 
  Pending Bills
  - if (unpaid_bills = @utilities.select{|u| !u.paid}.size) > 0
    %span.bold (#{unpaid_bills})
= render "account_completion_widget"
- if notice
  .alert.alert-success= notice
- if @utilities.blank?
  .well.well-sm
    Welcome to Utilitizer! This application is a powerful tool that allows you to pay all of your online bills on one, single site. You have signed in with the following email address: On your left, you’ll see several tabs.
    %ul
      %li 
        Use the 
        = link_to "Services", utilities_path
        tab to add a new utility service or update a current utility service. 
      %li 
        Use the 
        = link_to "Account", user_path(current_user.id)
        tab to update your personal information.
      %li 
        Use the 
        = link_to "Payment Methods", payment_methods_path
        tab to add and update your payment information.
- elsif Utility.has_unpaid_bills(current_user)
  - @utilities.each do |utility|
    - if !utility.paid?
      .well.well-sm.row.payment-due
        %h4= utility.name
        .col-md-6
          .row
            .col-md-5
              Account Number:
            .col-md-6
              = utility.account_number
            .col-md-5
              Contact Email:
            .col-md-6
              = current_user.email
            .col-md-5
              Pay Method:
            .col-md-6
              - if utility.payment_method.blank?
                .bold
                  You have removed the payment method. Please 
                  = link_to "add a payment method", new_payment_method_path
                  and 
                  = link_to "edit the service", edit_utility_path(utility)
              - else
                = utility.payment_method.payment_type
        .col-md-4
          .row
            .col-md-5
              Amount:
            .col-md-6.red.bold
              $52.37
            .col-md-5
              Due Date:
            .col-md-6
              = (Time.now + 10.days).strftime('%m/%d/%Y')
        .col-md-2
          = link_to "Pay Now", home_pay_utility_path(id: utility.id, paid: true), method: :put, class: "#{'disabled' if utility.payment_method.blank?} btn btn-success font-white", data: { confirm: "Pay #{utility.name} $52.37 now?" }
- else
  %em You currently do not have any bills that need to be paid.
#calendar.margin-top-20.margin-bottom-20