%h1 
  Pending Bills
  - if (unpaid_bills = @utilities.select{|u| !u.paid}.size) > 0
    %span.bold (#{unpaid_bills})
- if current_user.account_completion != 8
  .alert.alert-info{ role: "alert" }
    .progress.progress-striped.active
      .progress-bar.progress-bar-striped{"data-transitiongoal" => (current_user.account_completion/8.0)*100, :role => "progressbar"}
    Your account info is not yet complete!
    = link_to "Click here", edit_user_path(current_user)
    to finish filling out your account.
- if notice
  .alert.alert-success= notice
- if @utilities.blank?
  %em 
    You currently do not have any services listed.
  = link_to "Add a service?", new_utility_path
- elsif Utility.has_unpaid_bills(current_user)
  - @utilities.each do |utility|
    - if !utility.paid?
      .well.well-sm.row.payment-due
        %h4= utility.name
        .col-md-6
          .row
            .col-md-5
              Account Number:
            .col-md-6
              = utility.account_number
            .col-md-5
              Contact Email:
            .col-md-6
              = current_user.email
            .col-md-5
              Pay Method:
            .col-md-6
              = PaymentMethod.find(utility.payment_method_id).select_box_display
        .col-md-4
          .row
            .col-md-5
              Amount:
            .col-md-6.red.bold
              $52.37
            .col-md-5
              Due Date:
            .col-md-6
              = (Time.now + 10.days).strftime('%m/%d/%Y')
        .col-md-2
          = link_to "Pay Now", home_pay_utility_path(id: utility.id, paid: true), method: :put, class: "btn btn-success font-white", data: { confirm: "Pay #{utility.name} $52.37 now?" }
- else
  %em You currently do not have any bills that need to be paid.
#calendar.margin-top-20.margin-bottom-20