%h1 Home
= notice
- if @utilities.blank?
  %em 
    You currently do not have any services listed.
  = link_to "Add a service?", new_utility_path
- elsif Utility.has_unpaid_bills(current_user)
  - @utilities.each do |utility|
    - if !utility.paid?
      .well.well-sm.row
        %h4= utility.name
        .col-md-6
          .row
            .col-md-4
              Account number
            .col-md-6
              = utility.account_number
            .col-md-4
              Contact email
            .col-md-6
              = current_user.email
            .col-md-4
              Pay method
            .col-md-6
              = current_user.payment_type
        .col-md-4
          .row
            .col-md-4
              Amount
            .col-md-6
              $50
            .col-md-4
              Due Date
            .col-md-6
              = (Time.now + 30.days).strftime('%m/%d/%Y')
        .col-md-2
          = link_to "Pay now", home_pay_utility_path(id: utility.id), method: :put, class: "btn btn-success font-white"
- else
  %em You currently do not have any bills that need to be paid.