#home.row.center-text.padding-top-60
  %h1 Utilitizer
  .row.fadded-bg
    .col-md-2.col-md-offset-5.slightly-larger
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'form-horizontal' }) do |f|
        = f.input :email, autofocus: true
        = f.input :password, autocomplete: "off"
        - if devise_mapping.rememberable?
          = f.label :remember_me, "Remember Me"
          = f.check_box :remember_me
          %br
        = f.submit "Sign In", class: "btn btn-primary btn-lg margin-top-20"
      = link_to "Sign Up", new_registration_path(resource_name), class: "btn btn-default margin-top-20 margin-bottom-20"