%ul#left-nav.nav.nav-pills.nav-stacked.nav-tabs.margin-top-20{:role => "tablist"}
  %li{ class: ("active" if params[:controller] == "home")}
    = link_to root_path do
      Pending Bills 
      - if current_user.utilities.select{|u| !u.paid}.size > 0
        %span.badge #{current_user.utilities.select{|u| !u.paid}.size}
  %li{ class: ("active" if params[:controller] == "utilities")}
    = link_to "Services", utilities_path
  %li{ class: ("active" if params[:controller] == "payment_methods")}
    = link_to "Payment Methods", payment_methods_path
  %li{ class: ("active" if params[:controller] == "users")}
    = link_to "Account", user_path(current_user.id)
  %li
    = link_to "Logout", destroy_user_session_path, :method => :delete, data: {confirm: 'Are you sure you want to logout?'}