%ul#left-nav.nav.nav-pills.nav-stacked.nav-tabs{:role => "tablist"}
  %li{ class: ("active" if params[:controller] == "home")}
    = link_to "Home", root_path
  %li{ class: ("active" if params[:controller] == "utilities")}
    = link_to "Services", utilities_path
  %li{ class: ("active" if params[:controller] == "users" && !@payments)}
    = link_to "Account", user_path(current_user.id)
  %li{ class: ("active" if params[:controller] == "users" && @payments)}
    = link_to "Payment Methods", payment_methods_user_path(current_user.id)
  %li
    = link_to "Logout", destroy_user_session_path, :method => :delete