!!!
%html
  %head
    %title Utilitizer
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    / %script{:src => "bootstrap-progressbar.js", :type => "text/javascript"}
    = csrf_meta_tags
  / if user is not signed in, give a huge background image
  %body{ class: ("signed-out-bg" if !user_signed_in?)} 
    #top
    #wrap
      .black-out
      = render 'layouts/overlay'
      / = render "layouts/header"
      - if user_signed_in?
        .container
          .row
            .col-md-3
              = render "layouts/left_nav"
            .col-md-9
              = yield
      - else
        = yield
    = render "layouts/footer"